.nav {
    text-align: center;
    height: 80px;
    font-size: 20px;
    width: 100%;
    background-color: brown;
}

button {
    height: 100px;
    width: 100px;
}
/*#hotel{
display:none;	
}
#flight{
	display:none;	
}
#car{
display:block;
	}
#activity{
	display:none;	
}*/
table,tr,td{
	border:3px solid black;
}
tr{
	width:100%;
    height:20%;
    text-align: center;
}
td{
	width:100%;
width:80px;
    height:20%;
}
